dashboards/influx/influx_config
dashboards/influx/influx_data
dashboards/influx/.env
dashboards/grafana/grafana_data
scripting/python/csv_txt_files
scripting/python/folder/__pycache__/probe.cpython-311.pyc